<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{#if status}}Your ticket is confirmed for Src2024 event{{else}}SRC
        Registration Failed{{/if}}</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4; margin:
      0; padding: 0; } .container { width: 100%; max-width: 600px; margin: 0
      auto; background-color: #fff; padding: 20px; box-shadow: 0 0 10px rgba(0,
      0, 0, 0.1); border-radius: 8px; } .header { text-align: center;
      background-color:
      {{#if status}}#4CAF50{{else}}#F44336{{/if}}; color: white; padding: 10px
      0; border-radius: 8px 8px 0 0; } .header h1 { margin: 0; font-size: 24px;
      } .content { padding: 20px; color: #333; } .content p { line-height: 1.6;
      margin-bottom: 20px; } .details-table { width: 100%; border-collapse:
      collapse; margin-bottom: 20px; } .details-table td { padding: 10px;
      border: 1px solid #ddd; } .qr-code { text-align: center; margin-bottom:
      20px; } .qr-code img { max-width: 150px; border: 2px solid #4CAF50;
      padding: 5px; border-radius: 8px; } .footer { text-align: center; color:
      #999; font-size: 12px; } .event-details { margin-bottom: 20px; }
      .event-details strong { display: block; margin-bottom: 5px; }
      .evntDetails{ display: flex; justify-content: center; align-items: center;
      }
    </style>
  </head>

  <body>
    <div class='container'>
      <div class='header'>
        <h1>{{#if status}}SRC Registration Confirmed{{else}}SRC Registration
            Failed{{/if}}</h1>
      </div>

      <div class='content'>
        {{#if status}}
          <p>Dear {{userName}},</p>
          <p>Thank you for registering for the SRC event! We have successfully
            received your booking. Below are the details of your transaction:</p>

          <table class='details-table'>
            <tr>
              <td><strong>Transaction ID:</strong></td>
              <td>{{transactionId}}</td>
            </tr>
            <tr>
              <td><strong>Email:</strong></td>
              <td>{{userEmail}}</td>
            </tr>
          </table>

          <table>
            <tr>
              <td>

                <strong>Event Venue </strong>
              </td>
              <td>: Vythiri Village Resort, Wayanad</td>
            </tr>
            <tr>
              <td><strong>Date </strong></td>
              <td>: 29, 30 NOVEMBER 2024</td>
            </tr>
          </table>
          <p>Please present the QR code below at the event venue for quick
            check-in :</p>

          <div class='qr-code'>
            <center>

            <img
              src='{{qrcodeUrl}}'
              alt='QR Code'
              style='max-width: 150px; border: 2px solid #4CAF50; padding: 5px; border-radius: 8px;'
            />
            </center>

          </div>

          <p>If you have any questions, feel free to reach out to us at
            mail@src2024.in</p>
          <p>We look forward to seeing you at the event!</p>

        {{else}}

          <p>Dear {{userName}},</p>
          <p>We regret to inform you that your payment for the SRC event
            registration could not be processed. Please review the details below
            and try again:</p>

          <table class='details-table'>
            <tr>
              <td><strong>Transaction ID:</strong></td>
              <td>{{transactionId}}</td>
            </tr>
            <tr>
              <td><strong>Email:</strong></td>
              <td>{{userEmail}}</td>
            </tr>
          </table>

          <p>If you have any questions or need assistance, feel free to reach
            out to us at mail@src2024.in</p>
          <p>Thank you for your understanding, and we hope you try registering
            again soon.</p>

        {{/if}}
      </div>

      <div class='footer'>
        <p>© 2024 SRC Event | All Rights Reserved</p>
      </div>
    </div>
  </body>

</html>